<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Acute Abdomen Surgery</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>2</integer>
	</dict>
	<key>Albumin &lt; 3.5 g/dL</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>1</integer>
	</dict>
	<key>Alcohol Abuse</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>1</integer>
	</dict>
	<key>Aspiration</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>2</integer>
	</dict>
	<key>At least one Arterial pH &lt; 7.35</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<real>1.5</real>
	</dict>
	<key>Cardiac Surgery</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<real>2.5</real>
	</dict>
	<key>Chemotherapy</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>1</integer>
	</dict>
	<key>Diabetes Mellitus and has sepsis</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>-1</integer>
	</dict>
	<key>Emergency Surgery</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<real>1.5</real>
	</dict>
	<key>FiO2 &gt; 35%</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>2</integer>
	</dict>
	<key>Lung Contusion</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<real>1.5</real>
	</dict>
	<key>Multiple Fractures</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<real>1.5</real>
	</dict>
	<key>Near Drowning</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>2</integer>
	</dict>
	<key>Obesity</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>1</integer>
	</dict>
	<key>Oxygen Saturation &lt; 95%</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>1</integer>
	</dict>
	<key>Pneumonia</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<real>1.5</real>
	</dict>
	<key>Respiratory Rate &gt; 30</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>1</integer>
	</dict>
	<key>Sepsis</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>1</integer>
	</dict>
	<key>Shock</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>2</integer>
	</dict>
	<key>Smoke Inhalation</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>2</integer>
	</dict>
	<key>Spine Surgery</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>1</integer>
	</dict>
	<key>Traumatic Brain Injury</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<integer>2</integer>
	</dict>
	<key>Vasuclar Surgery</key>
	<dict>
		<key>Present</key>
		<false/>
		<key>Risk Factor</key>
		<real>3.5</real>
	</dict>
</dict>
</plist>
