<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Antibiotics</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>&lt;ul&gt;&lt;font size=&quot;5&quot;&gt;Antibiotics&lt;/font&gt;
&lt;li&gt;Rapid administration of appropriate antibiotics
&lt;/li&gt;&lt;/ul&gt;</string>
		</array>
		<key>Class</key>
		<string>SuggestionViewController</string>
		<key>Title</key>
		<string>Antibiotics</string>
	</dict>
	<key>Antibiotics and Source Control</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>&lt;ul&gt;&lt;font size=&quot;5&quot;&gt;Antibiotics&lt;/font&gt;
&lt;li&gt;Administer appropriate antibiotics within 6 hours.
&lt;/li&gt;&lt;/ul&gt;&lt;ul&gt;&lt;font size=&quot;5&quot;&gt;Source Control&lt;/font&gt;
&lt;li&gt;Early imaging to confirm source if appropriate
&lt;/li&gt;&lt;li&gt;Early surgical/interventional evaluation if appropriate
&lt;/li&gt;&lt;li&gt;Early drainage of purulent collection or removal of infected device if relevant
&lt;/li&gt;&lt;/ul&gt;</string>
		</array>
		<key>Class</key>
		<string>SuggestionViewController</string>
		<key>Title</key>
		<string>Antibiotics and Source Control</string>
	</dict>
	<key>Bleeding or Ischemia</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>Is the patient experiencing bleeding or ischemia?</string>
		</array>
		<key>Class</key>
		<string>BinaryDecisionViewController</string>
		<key>Title</key>
		<string>Bleeding/Ischemia</string>
	</dict>
	<key>Fluids</key>
	<dict>
		<key>Class</key>
		<string>FluidManagementViewController</string>
		<key>Title</key>
		<string>Fluid Management</string>
	</dict>
	<key>Infection-CNS</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>( Vancomycin / ceftriaxone )*Consider treatment for viral*Consider ampicillin for Listeria</string>
			<string>( Vancomycin / cefepime )*Consider treatment for viral*Consider ampicillin for Listeria</string>
			<string>( Vancomycin / cefepime / acyclovir / ampicillin )*Consider treatment for fungals, Tb</string>
		</array>
		<key>Class</key>
		<string>InfectionViewController</string>
		<key>Title</key>
		<string>Infection in Central Nervous System</string>
	</dict>
	<key>Infection-Lung</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>( Vancomycin / macrolide / 3rd gen cephalosporin )OR( Vancomycin /  fluoroquinolone )*Consider treatment for influenza</string>
			<string>( Vancomycin / anti-pseudomonal PCN)OR( Vancomycin /  fluoroquinolone / Aminoglycoside )*Consider treatment for influenza</string>
			<string>( Vancomycin / anti-pseudomonal PCN / macrolide )*Consider treatment for PCP, fungals, Tb*Consider treatment for influenza</string>
		</array>
		<key>Class</key>
		<string>InfectionViewController</string>
		<key>Title</key>
		<string>Infection in Lung</string>
	</dict>
	<key>Infection-Abdomen</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>( Vancomycin / amino-PCN )OR( Vancomycin /  fluoroquinolone / metronidazole)*Consider broader C.Diff coverage with PO vancomycin</string>
			<string>( Vancomycin / anti-pseudomonal PCN )OR( Vancomycin /  fluoroquinolone / metronidazole )*Consider broader C.Diff coverage with PO vancomycin</string>
			<string>( Vancomycin / anti-pseudomonal PCN )OR( Vancomycin /  fluoroquinolone / metronidazole / aminoglycoside )*Consider treatment for fungals, Tb*Consider broader C.Diff coverage with PO vancomycin</string>
		</array>
		<key>Class</key>
		<string>InfectionViewController</string>
		<key>Title</key>
		<string>Infection in Abdomen</string>
	</dict>
	<key>Infection-IV Catheter</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string></string>
			<string>( Vancomycin / anti-pseudomonal PCN )</string>
			<string>( Vancomycin / anti-pseudomonal PCN )</string>
		</array>
		<key>Class</key>
		<string>InfectionViewController</string>
		<key>Title</key>
		<string>Infection in IV Catheter</string>
	</dict>
	<key>Infection-Skin/Tissue</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>( Vancomycin )*Consider anti-pseudomonal PCN if diabetic or vascular disease*Consider clindamycin for suspected toxic shock syndrome</string>
			<string>( Vancomycin / anti-pseudomonal PCN )*Consider clindamycin for suspected toxic shock syndrome</string>
			<string>( Vancomycin / anti-pseudomonal PCN )*Consider clindamycin for suspected toxic shock syndrome</string>
		</array>
		<key>Class</key>
		<string>InfectionViewController</string>
		<key>Title</key>
		<string>Infection in Skin/Tissue</string>
	</dict>
	<key>Infection-Unknown</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>( Vancomycin / anti-pseudomonal PCN )</string>
			<string>( Vancomycin / anti-pseudomonal PCN )</string>
			<string>( Vanco / carbapenem / fluoroquinolone )</string>
		</array>
		<key>Class</key>
		<string>InfectionViewController</string>
		<key>Title</key>
		<string>Infection - Source Unknown</string>
	</dict>
	<key>Infection-Urine</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>( 3rd generation cephalosporin )OR( fluoroquinolone )</string>
			<string>( Vancomycin / anti-pseudomonal PCN )OR( Vancomycin /  fluoroquinolone )</string>
			<string>( Vancomycin / anti-pseudomonal PCN )OR( Vancomycin / fluoroquinolone / Aminoglycoside )*Consider treatment for fungals, Tb</string>
		</array>
		<key>Class</key>
		<string>InfectionViewController</string>
		<key>Title</key>
		<string>Infection in Urine</string>
	</dict>
	<key>Removable Source</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>Is there a removable source?</string>
		</array>
		<key>Class</key>
		<string>BinaryDecisionViewController</string>
		<key>Title</key>
		<string>Removable Source</string>
	</dict>
	<key>Respiratory Support</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>Respiratory Support</string>
			<string>Consider emergent rapid sequence intubation for shock.</string>
		</array>
		<key>Class</key>
		<string>SuggestionViewController</string>
		<key>Title</key>
		<string>Respiratory Support</string>
	</dict>
	<key>Resuscitate</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>Resuscitate with Isotonic crystalloid or colloid and transfuse with blood to obtain euvolemia, adequate urine output</string>
		</array>
		<key>Class</key>
		<string>SuggestionViewController</string>
		<key>Title</key>
		<string>Resuscitate</string>
	</dict>
	<key>Resuscitate, Transfuse</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>&lt;li&gt;Resuscitate as needed, consider vasopressor to get MAP&amp;gt;60
&lt;/li&gt;&lt;li&gt;Avoid fluid overload targeting CVP and urine output as per Fluid Management Goals in MORE
&lt;/li&gt;&lt;li&gt;Avoid RBC transfusion unless Hgb &amp;lt; 7g/dL
&lt;/li&gt;</string>
			<string>Fluids</string>
		</array>
		<key>Class</key>
		<string>SuggestionViewController</string>
		<key>Title</key>
		<string>Resuscitate and Transfuse</string>
	</dict>
	<key>Shock</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>Is the patient in shock?</string>
		</array>
		<key>Class</key>
		<string>BinaryDecisionViewController</string>
		<key>Title</key>
		<string>Shock</string>
	</dict>
	<key>Stop</key>
	<dict>
		<key>Arguments</key>
		<array>
			<string>Stop/Maintain Euvolumia (CVP 8-10)</string>
		</array>
		<key>Class</key>
		<string>SuggestionViewController</string>
		<key>Title</key>
		<string>Stop</string>
	</dict>
</dict>
</plist>
