<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bleeding or Ischemia</key>
	<dict>
		<key>No</key>
		<string>Resuscitate, Transfuse</string>
		<key>Yes</key>
		<string>Resuscitate</string>
	</dict>
	<key>Infection</key>
	<dict>
		<key>No</key>
		<string>Stop</string>
		<key>Yes</key>
		<string>Infection Location</string>
	</dict>
	<key>Infection Location</key>
	<dict>
		<key>Abdomen</key>
		<string>Infection-Abdomen</string>
		<key>CNS</key>
		<string>Infection-CNS</string>
		<key>IV Catheter</key>
		<string>Infection-IV Catheter</string>
		<key>Lung</key>
		<string>Infection-Lung</string>
		<key>Skin/Tissue</key>
		<string>Infection-Skin/Tissue</string>
		<key>Unknown</key>
		<string>Infection-Unknown</string>
		<key>Urine</key>
		<string>Infection-Urine</string>
	</dict>
	<key>Non-Invasive Ventilation</key>
	<dict>
		<key>No</key>
		<string>Respiratory Support 1</string>
		<key>Yes</key>
		<string>RSI</string>
	</dict>
	<key>Respiratory Status</key>
	<dict>
		<key>Intubation/Mechanical Ventilation Required</key>
		<string>Intubation/Mechanical Ventilation Required</string>
		<key>Non-Invasive Ventilation</key>
		<string>Non-Invasive Ventilation</string>
		<key>Not Vented</key>
		<string>Not Vented</string>
	</dict>
	<key>Score</key>
	<dict>
		<key>Default</key>
		<string>Infection</string>
	</dict>
	<key>Shock</key>
	<dict>
		<key>No</key>
		<string>Stop</string>
		<key>Yes</key>
		<string>Bleeding or Ischemia</string>
	</dict>
	<key>ICU Likely</key>
	<dict>
		<key>Yes</key>
		<string>SBAR</string>
		<key>No</key>
		<string>SBAR</string>
		<key>Already in ICU</key>
		<string>Nothing to Change</string>
	</dict>
	<key>Possible Surgery</key>
	<dict>
		<key>Yes</key>
		<string>SBAR</string>
		<key>No</key>
		<string>SBAR</string>
	</dict>
</dict>
</plist>
